.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-error {
    color: red;
}

.login-button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4d7bf3;
    color: white;
    cursor: pointer;
}